.gallery {
    padding-left: 100px;
    padding-top: 25px;
}

.photos {
    padding-top: 25px;
    padding-left: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.photoToShow {
   padding-top: 25px;
    padding-left: 30px;
    padding-bottom: 10px;
    width: auto;
    height: 200px;
}