.showPhoto {
    padding-top: 60px;
}

.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.back {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto ;
}